:root {
    --c0-color: white;
    --c1-color: #F7F7F7;
    --c2-color: #f2f1f1;
    --c3-color: #E6E6E6;  
    --c4-color: #ddd;  
    --c5-color: #808080;  
    --c6-color: #2B2B2B;
    --c7-color: #1A1A1A;
    --c8-color: black;
    --discount-color:red;
    --size0:.8rem;
    --size1: .9rem;
    --size2: 1.5rem;
    --size3: 1rem;
}

* {
    box-sizing: border-box;
    margin: O;
    padding: 0;
}

body {
    background-color: var(--c2-color);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

p{
    font-size: var(--size0);
}

a {
    text-decoration: none;
    font-size: var(--size0);
    color: var(--c8-color);
}

ol {
    margin-block-start: 0;
    margin-block-end: 0;
}

h3 {
    font-size: var(--size1);
    font-weight: 600;
    color: var(--c6-color);
}

.mainNav {
    display: flex;
    overflow: hidden;
    align-items: center;
    background-color: var(--c6-color);
    color: var(--c0-color);
    height: 5.5rem;
}
.mainNav h1 {
    text-align: center;
    width: 100%;
}
.mainNav h1 {
    /* margin-right: auto;   */
    padding: 2rem;
    letter-spacing: 0.5rem;
}

.mainNav a {
    padding: 2.5rem;
    font-size: var(--size0);
    font-weight: 800;
    letter-spacing: .15rem;
    text-transform: uppercase;
    color: var(--c0-color);
}

.mainNav a:hover {
    background-color: var(--c7-color);
}

.mainNav .desktop {
    display: none;
}

.sectionHeadline {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--size2);
    letter-spacing: .3rem;
    text-transform: uppercase;
    height: 25vh;
    margin: 0;
    color: var(--c6-color);
    background-color: var(--c1-color);
    border-bottom: 1px solid var(--c4-color);
    font-weight: 800;
}

.categoryList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin: 2rem;
}

.categoryList h2 {
    text-align: center;
    color: var(--c5-color);
    font-weight: 600;
    text-transform: uppercase;
    font-size: var(--size1);
    letter-spacing: .1rem;
    margin-bottom: 2vh;
}

.categoryList section {
    background-color: var(--c0-color);
    display: grid;
    transition: all .2s ease-in-out;
}

.categoryList section:hover {
    transform: scale(1.02);
}

 #categoryAccessories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    margin: 2rem;
}

.smallProduct {
    display: grid;
}
.smallProduct a {
    text-align: end;
}
.brandname {
    text-transform: uppercase;
}

.light {
    color: cornflowerblue;
}
p.price {
    font-weight: 500;
}
.onSale .price {
    text-decoration: line-through;
    color: var(--c6-color);
    font-weight: 400;
}

.nodiscount {
    text-align: end;
}

.discounted p, .price {
    font-size: var(--size1);
    margin: 0;
    color: var(--c7-color);
}

.discounted p {
    font-weight: 600;
    color: var(--discount-color)
}
.discounted {
    position: relative;
}

p.discount {
    position: absolute;
    background-color: var(--discount-color);
    opacity: .8;
    color: var(--c0-color);
    padding: .2rem .5rem .2rem .5rem;
    top: 1%;
    font-size: var(--size1);
    font-weight: 400;
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
    font-size: var(--size0);
    background-color: var(--c3-color);
    border-bottom: 1px solid var(--c4-color);
    padding: 1rem;
}

.breadcrumbs a {
    color: var(--c6-color);
}

.breadcrumbs li {
    padding: .2rem;
    font-size: var(--size0);
}

.arrow {
    padding: .2rem;
    color: var(--c6-color);
}

li.category.liCurrent {
    font-size: var(--size0);
} 

.breadcrumbs li.liCurrent {
    color: var(--c5-color);
}

.purchaseBox {
    background: var(--c2-color);
    padding: 1rem;
}

dt {
    font-weight: 700;
}

dd {
    margin-left: 0;
}

.home h2 {
    text-align: center;
}

.info {
    padding: 1rem;
  }
.product select {
    min-width: 100px;
  }
.product main {
    display: grid;
    margin: 2rem;
  }

.purchaseBox form label {
    gap: 1rem;
}
.purchaseBox button {
    display: block;
    margin-top: 1rem;
    width: 100%;
    height: 30px;
}

#categoryAccessories article {
    position: relative;
}
#categoryAccessories article.soldOut::before {
    content: "Sold Out";
    position: absolute;
    color: var(--c1-color);
    font-size: var(--size1);
    background-color: var(--c6-color);
    padding: .7rem 1.3rem .7rem 1.3rem;
    right: 0;
    bottom: 25%;
    opacity: .9;
}

#categoryAccessories article .discounted,
#categoryAccessories article .price span {
    display: none;
}

#categoryAccessories article.onSale .discounted {
    display: flex;   
}

#categoryAccessories article.onSale .price span {
    display: initial;
}

.prices {
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
}

.prices p {
    font-size: var(--size3);
}

@media screen and (min-width: 768px) {
    .breadcrumbs {
        justify-content: flex-start;
    }
    .mainNav .desktop {
        display: flex;
    }
    .mainNav h1{
        text-align: left;
    }
}

@media screen and (min-width: 1000px) {
    .product main {
      grid-template-columns: 1fr 310px;
    }
    .info {
      order: 0;
    }
    .purchaseBox {
      order: 2;
      transform: translate(-50px, -100px);
    }
  }