:root {
    --c0-color: white;
    --c1-color: #F7F7F7;
    --c2-color: #f2f1f1;
    --c3-color: #E6E6E6;  
    --c4-color: #ddd;  
    --c5-color: #808080;  
    --c6-color: #2B2B2B;
    --c7-color: #1A1A1A;
    --c8-color: black;
    --discount-color:red;
    --size0:.8rem;
    --size1: .9rem;
    --size2: 1.5rem;
    --size3: 1rem;
    --size4: 1.5rem;
    --size5: 2rem;
}

* {
    box-sizing: border-box;
    margin: O;
    padding: 0;
}

body {
    background-color: var(--c2-color);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

footer{
    color: var(--c5-color);
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    padding: 2rem;
    background-color: var(--c4-color);
    font-weight: 300;
} 

img {
    display: block;
    max-width: 100%;
    height: auto;
}

p{
    font-size: var(--size0);
}

a {
    text-decoration: none;
    font-size: var(--size0);
    color: var(--c8-color);
    font-weight: 300;
}

.breadcrumbs a:hover {
    font-weight: 500;
}

ol {
    margin-block-start: 0;
    margin-block-end: 0;
}

h3 {
    font-size: var(--size1);
    font-weight: 600;
    color: var(--c6-color);
}

.mainNav {
    display: flex;
    overflow: hidden;
    align-items: center;
    height: 5.5rem;
}
header {
    background-color: var(--c6-color);
}
.mainNav .home {
    text-align: center;
    width: 100%;
    color: var(--c0-color);
}
.mainNav h1 {
    letter-spacing: 0.5rem;
}

.desktop a {
    padding: 2.5rem;
    font-size: var(--size0);
    font-weight: 800;
    letter-spacing: .15rem;
    text-transform: uppercase;
    color: var(--c0-color);
}

.desktop a:hover {
    background-color: var(--c7-color);
}

.mainNav .desktop {
    display: none;
}

.sectionHeadline {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--size2);
    letter-spacing: .3rem;
    text-transform: uppercase;
    height: 10vh;
    margin: 0;
    color: var(--c6-color);
    background-color: var(--c1-color);
    border-bottom: 1px solid var(--c4-color);
    border-top: 1px solid var(--c4-color);
    font-weight: 800;
}

.categoryList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem;
}

.categoryList h2 {
    text-align: center;
    color: var(--c5-color);
    font-weight: 600;
    text-transform: uppercase;
    font-size: var(--size1);
    letter-spacing: .1rem;
    padding: 2rem;
}

.categoryList section {
    background-color: var(--c0-color);
    width: 100%;
    transition: all .2s ease-in-out;
}

.categoryList section:hover {
    transform: scale(1.02);
}

 #categoryAccessories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    margin: 2rem;
}
.smallProduct {
    display: grid;
}
.brandname {
    text-transform: uppercase;
}

.light {
    color: cornflowerblue;
}
p.price, .productprices .discounted p {
    font-weight: 500;
    text-align: left;
    font-size: var(--size4);
}
.onSale .price {
    text-decoration: line-through;
    color: var(--c6-color);
    font-weight: 400;
}
.articletype {
    font-size: var(--size3);
    font-weight: 300;
}

dl dd, dl dt {
    font-size: var(--size0);
    font-weight: 300;
}

dl dt {
    font-weight: 500;
    margin-bottom: .5rem;
}
p.productprice {
    font-size: var(--size4);
    color: var(--c7-color);
    font-weight: 600;
    text-align: left;
}
.productImg {
    position: relative;
}
.nodiscount {
    text-align: end;
}

.discounted p, .price {
    font-size: var(--size1);
    margin: 0;
    color: var(--c7-color);
}

.discounted p {
    font-weight: 600;
    color: var(--discount-color)
}
.discounted {
    position: relative;
}

p.discount {
    position: absolute;
    background-color: var(--discount-color);
    opacity: .8;
    color: var(--c0-color);
    padding: .2rem .5rem .2rem .5rem;
    top: 1%;
    font-size: var(--size1);
    font-weight: 400;
}

p.discountp {
    position: absolute;
    background-color: var(--discount-color);
    opacity: .8;
    color: var(--c0-color);
    padding: .2rem .5rem .2rem .5rem;
    top: 3%;
    right: 0;
    font-size: var(--size2);
    font-weight: 400;
}

.productImg.soldOut::before {
    content: "Sold Out";
    position: absolute;
    color: var(--c1-color);
    font-size: var(--size2);
    background-color: var(--c6-color);
    padding: .7rem 1.3rem .7rem 1.3rem;
    right: 0;
    bottom: 7%;
    opacity: .9;
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
    font-size: var(--size0);
    padding: 1rem;
}

.product .breadcrumbs {
    border-bottom: hidden;
}

.breadcrumbs a {
    color: var(--c6-color);
}

.breadcrumbs li {
    padding: .2rem;
    font-size: var(--size0);
}

.arrow {
    padding: .2rem;
    color: var(--c6-color);
}

li.category.liCurrent {
    font-size: var(--size0);
} 

.breadcrumbs li.liCurrent {
    color: var(--c5-color);
    font-weight: 300;
}

.purchaseBox {
    background: var(--c2-color);
}

dt {
    font-weight: 700;
}

dd {
    margin-left: 0;
}

.home h2 {
    text-align: center;
    font-size: 10vh;
    margin: 32vh 0;
}

.productgrid {
    display: grid;
    padding: 1rem;
    gap: 2rem;
    padding-top: 0;
  }
.purchaseBox h3 {
    font-size: var(--size5);
    margin: 0;
}
.purchaseBox form label {
    gap: 1rem;
}
.purchaseBox select {
    width: 100%;
    height: 2rem;
    padding: .5rem;
    color: var(--c5-color);
}
.purchaseBox button {
    display: block;
    margin-top: 1rem;
    color: var(--c0-color);
    width: 100%;
    height: 2rem;
    background-color: var(--c5-color);
    border-style: none;
}

button:hover {
    background-color: var(--c7-color);
    cursor: pointer;
}

#categoryAccessories article {
    position: relative;
}
#categoryAccessories article.soldOut::before {
    content: "Sold Out";
    position: absolute;
    color: var(--c1-color);
    font-size: var(--size1);
    background-color: var(--c6-color);
    padding: .7rem 1.3rem .7rem 1.3rem;
    right: 0;
    bottom: 20%;
    opacity: .9;
}

#categoryAccessories article .discounted,
#categoryAccessories article .price span {
    display: none;
}

#categoryAccessories article.onSale .discounted {
    display: flex;   
}

#categoryAccessories article.onSale .price span {
    display: initial;
}

.prices {
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
}

.prices p {
    font-size: var(--size3);
}

@media screen and (min-width: 768px) {
    .mainNav .desktop {
        display: flex;
    }
    .mainNav .home{
        text-align: left;
        padding: 0;
        margin-right: auto;
        color: var(--c0-color);
    }
    .sectionHeadline {
        height: 20vh;
        margin-bottom: 3vh;
    }
    #categoryAccessories, .mainNav, .categoryList, .breadcrumbs, .productgrid {
        max-width: 1366px;
        padding: 0 24px;
        margin: 0 auto;
    }
    .productgrid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        max-width: 1024px;
    }
    .breadcrumbs {
        justify-content: flex-start;
        height: 4vh;
        margin: 1rem auto;
    }
    .categoryList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .categoryList section h2 {
        padding: 6rem 0;
    }
    .articletype {
        margin-bottom: 2rem;
    }
    .purchaseBox form {
        margin: 3rem 0;
    }
}

@media screen and (min-width: 1024px) {
    .categoryList {
        grid-template-columns: repeat(3, 1fr);
        margin: 5rem auto;
        gap: 2rem;
    }
    .categoryList section h2 {
        padding: 6rem 0;
    }
  }